/*NAV*/

html { 
  scroll-behavior: smooth;
  margin: 0 auto;
  padding: 0px;

}
body{
    
    font-family: open-sans, helvetica, sans-serif;
    color: #515151;
    background-color: #fff;
    font-size: 1.2em;
    margin: 0 auto;
    padding: 0px;

}
* {
  
  padding: 0;
}

p



porpholioLink



/*NAV*********************************/



.sticky{
    position: fixed;
    top: 0;
    width: 100%;
}

.main-nav{

    display: flex;
    padding-top: 2px;
    list-style: none;
    font-size: 1.2em;
    padding-top: 5px;
    margin: 0;
    background: #fff;
    color: rgb(47, 47, 47);
    align-items: center;
    justify-content: center;
    width:100%;

}


.sticky{
    position: fixed;
    top: 0;
    width: 100%;
}

li{
    padding: 7px;
}


.logo {
   
    cursor: pointer;
}

.logo > img{
    max-width: 70%;
    width: 80px;
    padding-left:  20px;
}

 img{
    padding-top: 5px;
    padding-bottom: 7px;
    width: 70%;

}
.email{
  padding-right: 55px;
  padding-bottom: 15px;
}

@media only screen and (max-width: 600px){
    .main-nav{
      font-size: 1em;
        padding: 0;
        margin: 0;
        width:100%;
        margin-right: 0px;

    }
li{
    padding: 3px;
}
.logo > img{
    max-width: 70%;
    width: 65px;
    padding-left:  10px;
}
img{
   width: 60%;
}
.email{
  padding-right: 15px;
  padding-bottom: 15px;
}


}



a {
     color: rgb(47, 47, 47);
    text-decoration: none;
}
ul > .push{
    
    margin-left: auto;
    margin-right: 0px;
    padding-right: 0px;

}
ul > .push3{
    padding-top: 2px;
}


.cv{
   padding-bottom: 15px;
   padding-left: 0px;
}



/*COVER******************************/

.coverContainer{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: center;
    background-color: white;
    min-height: 100vh;
    
}

 a {
  padding-top: 60px;
  text-align: center;
}



#icon{
    opacity: 50%;


}

#icon > img{
    opacity: 30%;
    width: 28px;
}

/******************Aboutme***************************/
.textsize{
  padding-bottom: 0px;

}
.contaner3{
    display: flex;
    width: 100%;
}
.cont{

    display: flex;
    line-height: 1.65;
    justify-content: center;
    margin: 0 auto ;
    align-items: center;
    padding: 30px 40px;
    font-size: 1em;
    height: 50%;
}

@media(min-width:600px){
.cont{
    width: 65%;
    display: flex;
    line-height: 1.65;
    margin: 48px auto 0 auto;
    justify-content: center;
    align-items: center;
    padding: 40px 50px;
    height: 0vh;
    font-size: 1.3em;
    
}
.textsize{
  padding-bottom:50px;

}



}
#buttom{
  align-items: center;
}

.name{
  font-size: 24px;
}

.porpholioLink{
  font-weight: bold;
  color: #10E0BA;
  font-size:22px;
  text-decoration: underline;
}

@media(min-width:600px){
.porpholioLink{
  font-weight: bold;
  color: #10E0BA;
  font-size:28px;
  text-decoration: underline;

}
.name{
  font-size: 32px;
}

}




.b{
    text-align: center;
    width: 100%;
    padding-bottom: 20px;
  
}



/*projects*****************************/
.container{
    display: flex;
    justify-content: left;
    margin: 0px;
    padding-right: 5px;
}
@media(min-width:600px){

  .container{
    align-items: left;
    justify-content: left;
  }

}



button {
  outline: none;
  height: 40px;
  text-align: center;
  width: 150px;
  border-radius: 40px;
  background: transparent;
  border: 2px solid #515151;
  color: #515151;
  letter-spacing: 1px;
  text-shadow: 0;
  font-size: 17px;
  font-weight: bold;
  font-family: raleway, sans-serif;
  cursor: pointer;
  transition: all 0.25s ease;
}
button:hover {
  color: white;
  background: #10E0BA;
  border: #10E0BA;
}
button:active {
  letter-spacing: 2px;
}
button:after {
  content: "Visit site";
}

.onclic {
  width: 40px;
  border-color: #bbbbbb;
  border-width: 3px;
  font-size: 0;
  border-left-color: #1ecd97;
  -webkit-animation: rotating 2s 0.25s linear infinite;
          animation: rotating 2s 0.25s linear infinite;
}
.onclic:after {
  content: "";
}
.onclic:hover {
  color: #1ecd97;
  
}

.validate {
  font-size: 16px;
  color: white;
  background: #1ecd97;
}
.validate:after {
 f
  content: "href="https://face-reg.herokuapp.com"";
}

.fict{
  font-size: 1em;
  padding-bottom: 6px; 
  padding-top: 3px;
  color: #10E0BA;

}

.contaner2{
    padding-top: 30px;
    display: flex;
    width: 100%;
    background-color:  #FAF9F9;

}


.containerC{
    padding-top: 30px;
    display: flex;
    width: 100%;
    background-color:  #F4F4F4;

}
.containerB{
    padding-top: 30px;
    padding-bottom: 40px;
    display: flex;
    width: 100%;
    background-color:  #EFEEEE;

}

.third{
  background-color: #FBFBFB; 

}
h1{
  font-size: 27px;
  text-align: center;
  align-items: center;
}
.pJbox{
    text-align: left;
    padding-left:8px;
    padding-right: 10px;
    padding-bottom: 6px;
    font-size: 1em;
    padding-bottom: 6px;
  
}
@media(min-width:1000px){
.pJbox{
    line-height: 1.65;
    align-items: flex-start;
    display: flex;
    text-align: left;
    justify-content: center;
    font-size: 1.1em;
    padding-left: 20px;
    padding-bottom: 6px;
}

h1{
  font-size: 36px;
  text-align: center;
  padding-left: 0px;

}
.fict{
  padding-top: 5px;
  font-size: 1em;
  padding-bottom: 3px; 
  color: #10E0BA;
}


}

.bx1 > img {
    padding-top: 0px;
    width: 100%;
    
}


.bx{
    padding-top: 20px;
    padding-left: 20px;
    flex:1;
    order:1;
    box-sizing: border-box;
    width: 100%;
    padding-bottom: 20px;
}
.bx > h1{
    display: flex;
    align-items: flex-start;
}


.bx1{
    flex:1;
    order:2;
    box-sizing: border-box;
    margin-bottom: ;
    width: 100%;

}



/***********2ndBox****************/



.


/*GRID***********************************/



/********************Card*****************************/


/*Grid*/



/************************************?*/










/*FOOTER*************************************/



}


footer {
    text-align: center;
    margin: 0px;
    width: 100%;
    height: 200px;
    background-color: rgb(47, 47, 47);

}

