/*NAV*/

html { 
  scroll-behavior: smooth;
  margin: 0px;
  padding: 0px;
}
body{
   
    font-family: open-sans, sans-serif;
    color: #515151;
    background-color: #fff;
    font-size: 1.2em;
    margin: 0px ;
    padding: 0px;

}
* {
  
  padding: 0;
}









/*NAV*********************************/



.sticky{
    position: fixed;
    top: 0;
    width: 100%;
}

.main-nav{

    display: flex;
    padding-top: 2px;
    list-style: none;
    font-size: 1.2em;
    padding-top: 5px;
    margin:0;
    background: #fff;
    color: rgb(47, 47, 47);
    align-items: center;
    justify-content: center;
    width:100%;

}
li{
    padding: 7px;
}


.logo {
   
    cursor: pointer;
}

.logo > img{
    max-width: 70%;
    width: 80px;
    padding-left:  20px;
}

 img{
    padding-top: 5px;
    padding-bottom: 7px;
    width: 70%;

}

@media only screen and (max-width: 600px){
    .main-nav{
        font-size: 1em;
        padding: 0;
        margin: 0;
        width:100%;

    }
li{
    padding: 3px;
}
.logo > img{
    max-width: 70%;
    width: 45px;
    padding-left:  5px;
}
img{
   width: 60%;
}


}



a {
     color: rgb(47, 47, 47);
    text-decoration: none;
}
ul > .push{
    
    margin-left: auto;
    margin-right: 0px;
    padding-right: 0px;

}
ul > .push3{
    padding-top: 2px;
}

.email{
  padding-right: 20px;
  padding-bottom: 15px;
}
.cv{
   padding-bottom: 15px;
   padding-left: 0px;
}



/*COVER******************************/

.coverContainer{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: center;
    background-color: white;
    min-height: 100vh;
    
}

 a {
  padding-top: 60px;
  text-align: center;
}



#icon{
    opacity: 50%;


}

#icon > img{
    opacity: 30%;
    width: 28px;
}

/******************Aboutme***************************/
.contaner3{
    display: flex;
    width: 100%;
}
.cont{
    width: 85%;
    display: flex;
    line-height: 1.65;
    margin:0px;
    justify-content: center;
    align-items: center;
    padding: 30px 40px;
    height: 0vh;
    font-size: 1em;
    
}

@media(min-width:600px){
.cont{
    width: 65%;
    display: flex;
    line-height: 1.65;
    margin: 48px auto 0 auto;
    justify-content: center;
    align-items: center;
    padding: 40px 50px;
    height: 0vh;
    font-size: 1.3em;
    
}
}

.name{
  font-size: 24px;
}

.porpholioLink{
  font-weight: bold;
  color: #10E0BA;
  font-size:22px;

}

@media(min-width:600px){
.porpholioLink{
  font-weight: bold;
  color: #10E0BA;
  font-size:27px;

}
.name{
  font-size: 32px;
}

}

cc


.b{
    text-align: center;
    width: 100%;
    padding-bottom: 20px;

}



/*projects*****************************/
.container{
    display: flex;
}

button {

  outline: none;
  height: 40px;
  text-align: center;
  width: 150px;
  border-radius: 40px;
  background: transparent;
  border: 2px solid rgb(47, 47, 47);;
  color: rgb(47, 47, 47);
  letter-spacing: 1px;
  text-shadow: 0;
  font-size: 17px;
  font-weight: bold;
  font-family: raleway, sans-serif;
  cursor: pointer;
  transition: all 0.25s ease;
}
button:hover {
  color: white;
  background: #10E0BA;
  border: #10E0BA;
}
button:active {
  letter-spacing: 2px;
}
button:after {
  content: "Visit site";
}

.onclic {
  width: 40px;
  border-color: #bbbbbb;
  border-width: 3px;
  font-size: 0;
  border-left-color: #1ecd97;
  -webkit-animation: rotating 2s 0.25s linear infinite;
          animation: rotating 2s 0.25s linear infinite;
}
.onclic:after {
  content: "";
}
.onclic:hover {
  color: #1ecd97;
  
}

.validate {
  font-size: 16px;
  color: white;
  background: #1ecd97;
}
.validate:after {
 f
  content: "href="https://face-reg.herokuapp.com"";
}

@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}


.contaner2{
    padding-top: 30px;
    display: flex;
    width: 100%;
    background-color:  #FAF9F9;

}


.containerC{
    padding-top: 30px;
    display: flex;
    width: 100%;
    background-color:  #F4F4F4;

}
.containerB{
    padding-top: 30px;
    padding-bottom: 40px;
    display: flex;
    width: 100%;
    background-color:  #EFEEEE;

}

.third{
  background-color: #FBFBFB; 

}
h1{
  font-size: 27px;
  text-align: center;
  align-items: center;
   
}
.pJbox{
    text-align: left;
    padding-left:15px;
    padding-right: 10px;
    font-size: 1em;
  
}
@media(min-width:1000px){
.pJbox{
    line-height: 1.65;
    margin-left: 30px;
    align-items: flex-start;
    display: flex;
    text-align: left;
    justify-content: center;
    font-size: 1.1em;
    padding-left: 0;
}

h1{
  font-size: 36px;
  text-align: center;
  padding-left: 0px;

}





}

.bx1 > img {
    padding-top: 0px;
    width: 100%;
    
}


.bx{
    padding-top: 20px;
    padding-left: 5px;
    flex:1;
    order:1;
    box-sizing: border-box;
    margin-bottom: 10px;
    
    width: 100%;
}
.bx > h1{
    display: flex;
    align-items: flex-start;
}


.bx1{
    flex:1;
    order:2;
    box-sizing: border-box;
    margin-bottom: 20px;
    width: 100%;


}



/***********2ndBox****************/



.


/*GRID***********************************/



/********************Card*****************************/


/*Grid*/



/************************************?*/










/*FOOTER*************************************/



}


footer {
    text-align: center;
    margin: 0px;
    width: 100%;
    height: 200px;
    background-color: rgb(47, 47, 47);

}

